body {
    background-color: #242629;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    background-color: #1a1a2e;
    color: white;
    padding: 20px 0;
    text-align: left;
}

.menu .sidebar{
    background: #16161a;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.menu .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.menu .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.menu .sidebar .profile h3{
    margin: 10px 0 5px;
    color: #ffffff;
}

.menu .sidebar .profile p{
    color: #ffffff;
    font-size: 14px;
}
.menu .sidebar ul{
    list-style-type: none;
}
.menu .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #1a1a2e;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
   
}

.menu .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}